<%- include("header") -%>

<h1 style="color: Purple;text-align:center;">About Page</h1>

<h2 style="text-align: center;">We’re building the future of work</h2>
<h3 style="text-align: center;">Our apps and workflows are born from challenging the status quo</h3>


<%- include("footer") -%>
